@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                    <#input id="id" name="id" underline="true" disabled="disabled"/>
                    <#input id="createTime" name="创建时间" underline="true" type="text" clickFun="laydate({istime:true,format:'YYYY-MM-DD hh:mm:ss'})"/>
                    <#input id="updateTime" name="修改时间" underline="true" type="text" clickFun="laydate({istime:true,format:'YYYY-MM-DD hh:mm:ss'})"/>
                    <#text id="content" name="内容" underline="true"/>
                    <#select id="waitOnline" name="在线等" underline="true">
                        <option value="0">否</option>
                        <option value="1">是</option>
                    </#select>
                    <#select id="status" name="状态" underline="true">
                        <option value="0">求助中</option>
                        <option value="1">委托中</option>
                        <option value="2">已完成</option>
                        <option value="3">交易完成</option>
                    </#select>
                    <#input id="reward" name="赏金" underline="true"/>
                    <#select id="isPaid" name="支付" underline="true">
                        <option value="0">否</option>
                        <option value="1">是</option>
                    </#select>
                </div>

                <div class="col-sm-6">
                    <!--<#input id="schoolId" name="学校" underline="true"/>-->
                    <#select id="schoolId" name="学校" underline="true">
                        @for (school in schools) {
                        <option value="${school.id}">${school.name}</option>
                        @}
                    </#select>
                     <#select id="authorId" name="发布人" underline="true">
                        @for (user in users){
                        <option value="${user.id}">${user.name}</option>
                        @}
                    </#select>
                    <#select id="solverId" name="解决人" underline="true">
                        @for (user in users){
                        <option value="${user.id}">${user.name}</option>
                        @}
                    </#select>
                    <#input id="powerStatus" name="0：冻结，1：正常" underline="true" value="1"/>

                    <#select id="tabId" name="标签" underline="true">
                        @for (tab in tabs) {
                        <option value="${tab.id}">${tab.name}</option>
                        @}
                    </#select>
                    <#input id="paidCode" name="支付凭证" underline="true"/>
                    <#input id="imgs" name="图片“，”隔开" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="IssuesInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="IssuesInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/issues/issues_info.js"></script>
<script>
    var d = new Date();
    laydate.render({
        elem: '#createTime'
        , value: d.getFullYear() + '-' + lay.digit(d.getMonth() + 1) + '-' + lay.digit(d.getDate())
    });
</script>
<script>
    var d = new Date();
    laydate.render({
        elem: '#updateTime'
        , value: d.getFullYear() + '-' + lay.digit(d.getMonth() + 1) + '-' + lay.digit(d.getDate())
    });
</script>
@}
