<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.modular.system.dao.BUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="map">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="sex" property="sex" />
        <result column="mobile" property="mobile" />
        <result column="school_id" property="schoolId" />
        <result column="dorm" property="dorm" />
        <result column="birthday" property="birthday" />
        <result column="balance" property="balance" />
        <result column="chat_head" property="chatHead" />
        <result column="status" property="status" />
        <result column="salt" property="salt" />
        <result column="password" property="password" />
        <result column="oppen_id" property="oppenId" />
        <result column="activation" property="activation" />
        <result column="sign" property="sign" />
        <result column="student_no" property="studentNo" />
        <result column="student_pwd" property="studentPwd" />
        <result column="student_auth" property="studentAuth" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, create_time, update_time, sex, mobile, school_id, dorm, birthday, balance, chat_head, status, salt, password, oppen_id, activation, sign, student_no, student_pwd, student_auth
    </sql>

    <select id="listBy" parameterType="com.stylefeng.guns.modular.system.model.dto.GetBUserListDto"
            resultMap="BaseResultMap">
        SELECT
      <include refid="Base_Column_List"/>
        from b_user as u
        <where>
            <if test="createTimeL != null and createTimeL != ''">
                AND u.create_time > #{createTimeL}
            </if>
            <if test="createTimeR != null and createTimeR != ''">
                AND #{createTimeR} >u.create_time
            </if>
            <if test="updateTimeL != null and updateTimeL != ''">
                AND u.update_time > #{updateTimeL}
            </if>
            <if test="updateTimeR != null and updateTimeR != ''">
                AND #{updateTimeR} >u.update_time
            </if>
            <if test="status != null ">
                AND u.status=#{status}
            </if>
            <if test="schoolId != null ">
                AND u.school_id=#{schoolId}
            </if>
            <if test="name != null and name != ''">
                AND u.name like CONCAT('%',#{name})
            </if>
            <if test="sex != null ">
                AND u.sex=#{sex}
            </if>
            <if test="mobile != null and mobile != ''">
                AND u.mobile like CONCAT('%',#{mobile})
            </if>
            <if test="dorm != null and dorm != ''">
                AND u.dorm=#{dorm}
            </if>
            <if test="studentNo != null and studentNo != ''">
                AND u.student_no=#{studentNo}
            </if>
            <if test="studentAuth != null ">
                AND u.student_auth=#{studentAuth}
            </if>
        </where>
    </select>
</mapper>
