<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.modular.system.dao.CommentsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="map">
        <id column="id" property="id" />
        <result column="content_type" property="contentType" />
        <result column="content" property="content" />
        <result column="create_time" property="createTime" />
        <result column="status" property="status" />
        <result column="own_type" property="ownType" />
        <result column="own_id" property="ownId" />
        <result column="from_id" property="fromId" />
        <result column="to_id" property="toId" />
        <result column="agree" property="agree" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, content_type, content, create_time, status, own_type, own_id, from_id, to_id, agree
    </sql>

    <select id="getCommnetList" parameterType="com.stylefeng.guns.modular.system.model.dto.GetCommentListDto" resultMap="BaseResultMap">
        SELECT 
        <include refid="Base_Column_List"/>
        from comments as i
        <where>
            <if test="id != null">
               AND i.id = #{id}
            </if>
            <if test="keyword != null and keyword != ''">
               AND i.content LIKE CONCAT('%',#{keyword},'%')
            </if>
            <if test="createTimeL != null and createTimeL != ''">
                AND i.create_time > #{createTimeL}
            </if>
            <if test="createTimeR != null and createTimeR != ''">
                AND #{createTimeR} >i.create_time
            </if>
            <if test="status != null">
                AND i.status = #{status}
            </if>
            <if test="contentType != null">
                AND i.contentType = #{contentType}
            </if>
            <if test="ownId != null">
                AND i.own_id = #{ownId}
            </if>
            <if test="fromId != null">
                AND i.from_id = #{fromId}
            </if>
            <if test="toId != null">
                AND i.to_id = #{toId}
            </if>


        </where>
    </select>
</mapper>
